* {
    margin: 50;
    padding: 100;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
    background-color: #588157;
}


h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
    color: #dad7cd;
}

.container {
    width: 1920px;
    height: 1054px;
    margin: 50px;
}

.RSV {
}

/* .form {
    padding: 3em;
    height: 600px;
    width: 1500px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 20px;
    border: 1px solid rgba(218, 215, 205);
    position: relative;
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
} */

h3 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #dad7cd;
}

.sub {
    height: 50px;
    width: 100px;
    background-color: #a3b18a;
    color: black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #a3b18a;
    text-shadow: none;
    border: 1px solid #a3b18a;
    font-family: Ubuntu, sans-serif;
    font-size: 1.2rem;
}