*{
    margin:50;
    padding:100;
    box-sizing: border-box;
    background-color: #d4d5d9;
    font-family: Ubuntu, sans-serif;
}


h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}

.container {
    width: 1920px;
    height: 1054px;
    margin: 50px;
}

.RSV {
    margin: 50px;
}

